#body {
	margin-top: -130px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	height: 1800px;
	font-size: 16px;
	color: #630d6e;
}
.tupian {
	margin-top: -40px;
	width: 900px;
	color: #630d6e;
	font-size: 12px;
}
.tupian_tr {
	height: 300px;
	width: 270px;
	background-image: url(../images/bg1.jpg);
}
.tupian_tr_img {
	margin-top: 3px;
	margin-left: 35px;
}
.qian {
	color: #630d6e;
	font-size: 24px;
	margin-top: 0px;
}
